*{
  cursor: none; 
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


::-webkit-scrollbar-track{
  border: 2px solid #39393939;
  background: #131419;

}


::-webkit-scrollbar-thumb{
  background: linear-gradient(transparent, #a6a6a6);
  border-radius: 10px;
};